.DS_Store
node_modules
dist
package-lock.json
yarn.lock
vite.config.js.timestamp-*
.env
.vercel_build_output
.svelte-kit
.cloudflare
.pnpm-debug.log
.netlify
.turbo
.vercel
.test-tmp
symlink-from
.vscode