html,
body,
* {
    box-sizing: border-box;
    font-size: 16px;
    font-family: system-ui;
}

html,
body {
    height: 100%;
    text-align: center;
}

body {
    padding: 2rem;
    background: #2e3035;
}

h2 {
    font-family: system-ui;
    font-size: 26px;
    line-height: 1;
    color: white;
    margin-bottom: 0;
}

p {
    font-family: system-ui;
    font-size: 18px;
    color: #5f6982;
}

.uploader {
    display: block;
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
}

.uploader label {
    float: left;
    clear: both;
    width: 100%;
    padding: 2rem 1.5rem;
    text-align: center;
    background: #161444;
    border-radius: 7px;
    border: 3px solid #343170;
    transition: all 0.2s ease;
    user-select: none;
}

.uploader label:hover {
    border-color: white;
}

.uploader label.hover {
    border: 3px solid white;
    box-shadow: inset 0 0 0 6px #eee;
}

.uploader label.hover #start i.fa {
    transform: scale(0.8);
    opacity: 0.3;
}

.uploader #start {
    float: left;
    clear: both;
    width: 100%;
}

.uploader #start.hidden {
    display: none;
}

.uploader #start i.fa {
    font-size: 50px;
    margin-bottom: 1rem;
    transition: all 0.2s ease-in-out;
}

.uploader #response {
    float: left;
    clear: both;
    width: 100%;
}

.uploader #response a {
    text-decoration: underline;
}

.uploader #response.hidden {
    display: none;
}

.uploader #response #messages {
    margin-bottom: 0.5rem;
}

.uploader #file-image {
    display: inline;
    margin: 0 auto 0.5rem auto;
    width: auto;
    height: auto;
    max-width: 180px;
}

.uploader #file-image.hidden {
    display: none;
}

.uploader progress,
.uploader .progress {
    display: inline;
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 180px;
    height: 8px;
    border: 0;
    border-radius: 4px;
    background-color: #eee;
    overflow: hidden;
}

.uploader .progress[value]::-webkit-progress-bar {
    border-radius: 4px;
    background-color: #eee;
}

.uploader .progress[value]::-webkit-progress-value {
    background: linear-gradient(to right, #393f90 0%, white 50%);
    border-radius: 4px;
}

.uploader .progress[value]::-moz-progress-bar {
    background: linear-gradient(to right, #393f90 0%, white 50%);
    border-radius: 4px;
}

.uploader input[type="file"] {
    display: none;
}

.uploader div {
    margin: 0 0 0.5rem 0;
    color: #5f6982;
}

.btn {
    display: inline-block;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
    clear: both;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    text-transform: initial;
    border: none;
    border-radius: 0.2rem;
    outline: none;
    padding: 0 1rem;
    height: 36px;
    line-height: 36px;
    color: white;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    background: #454cad;
    border-color: #454cad;
    cursor: pointer;
}

footer {
    display: block;
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    padding: 1rem 0;
    text-align: center;
    color: #5f6982;
    font-size: 14px;
    font-family: system-ui;
}

a {
    color: #5f6982;
    text-decoration: none;
}

.container-main {
    float: left;
    clear: both;
    width: 100%;
    padding: 2rem 1.5rem;
    text-align: center;
    background: #161444;
    border-radius: 7px;
    border: 3px solid #343170;
    color: white;
    transition: all 0.2s ease;
}

.container-main h1 {
    font-size: 30px;
    line-height: 1;
    margin-top: 0;
}

.uploader-other {
    display: block;
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
}

.uploader-other p {
    color: white;
}

#start img {
    width: 100%;
    height: auto;
}

#uploads {
    display: block;
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
}

.upload {
    margin-top: 10px;
    color: white;
    background-color: #161444;
    border-radius: 7px;
    border: 3px solid #343170;
    transition: all 0.2s ease;
}

.upload-meta {
    display: flex;
}

.upload-name {
    text-align: left;
    margin: 0 auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    width: 100%;
    max-width: 600px;
}

.upload-url {
    /* put this below the name and size */
    float: left;
    margin: 0 auto;
    width: 100%;
    margin-left: 5px;
    margin-bottom: 5px;
    max-width: 500px;
    max-height: 25px;
    background-color: #111;
    border: 0;
    color: white;
}

.copy-btn {
    display: inline-block;
    clear: both;
    margin: 0 auto;
    margin-left: 0px;
    margin-bottom: 5px;
    font-size: 14px;
    text-decoration: none;
    text-transform: initial;
    border: none;
    border-radius: 0.2rem;
    outline: none;
    padding: 0 1rem;
    height: 25px;
    line-height: 25px;
    color: white;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    background: #454cad;
    border-color: #454cad;
    cursor: pointer;
}

.upload-size {
    text-align: right;
    margin: 0 auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    width: 100%;
    max-width: 600px;
}

hr {
    display: block;
    clear: both;
    margin: 0 auto;
    width: 100%;
    height: 10px;
    max-width: 600px;
    border: 0;
    opacity: 0;
    border-top: 1px solid #343170;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #25272b;
}

::-webkit-scrollbar-thumb {
    opacity: 0;
}

::-webkit-scrollbar-thumb:hover {
    background: #343170;
}

video {
    max-width: 600px;
}

#discordBtn {
    background-color: #454FBF;
    color: #fff;
    border-radius: 5px;
    border: 0;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    width: 40%;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: none;
    /* Align to center */
    margin-left: auto;
    margin-right: auto;
}

#discordBtn svg {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
.normalLink {
    color: white;
    text-decoration: underline;
    transition: all 0.2s ease-in-out;
}

.admin-buttons {
    display: none;
    clear: both;
    margin: 0 auto;
    text-align: center;
    color: #5f6982;
    font-size: 14px;
    font-family: system-ui;
    /* Align to the right */
    text-align: right;
    /* No weird cursor */
    user-select: none;
    cursor: default;
}

.admin-button {
    display: inline-block;
    margin: -1;
    clear: both;
    font-weight: 700;
    font-size: 18px; /* This controls how big the icons are */
    text-decoration: none;
    text-transform: initial;
    border: none;
    outline: none;
    padding-right: 0.5rem;
    height: 36px;
}

/* On hover, make it brighter */
.admin-button:hover {
    color: #838bff;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #161444;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    border-radius: 7px;
    border: 3px solid #343170;
}

.modal-content label {
    color: white;
    display: block;
    margin-bottom: 5px;
}

.modal-content input, .modal-content textarea {
    background-color: #161444;
    border: 1px solid #343170;
    color: white;
    border-radius: 7px;
    padding: 5px;
    /* Make the label be above input */
    display: block;
    margin-bottom: 10px;
    /* Align center */
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.modal-content input {
    width: 30%;
}

.modal-content button {
    background-color: #454FBF;
    color: #fff;
    border-radius: 5px;
    border: 0;
    padding: 8px;
    text-align: center;
    width: 15%;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-right: auto;
    /*  */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.premium-button {
    display: none;
}

ul {
    display: inline-block;
}

li {
    font-size: 20px;
}

.ann-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #28256e;
    color: white;
    z-index: 1;
}