<html>

<head>
    <title>{{title}} - crepe.moe</title>
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:image" content="{{cdn}}" />
    <meta property="og:title" content="{{title}}" />
    <link rel="stylesheet" href="/index.css">
</head>

<body>
    <h2>crepe.moe</h2>
    <p class="lead">Free temporary file hosting for everyone!</p>

    <form id="file-upload-form" class="uploader-other" action="upload/">

        <div class="container-main">
            <div id="start">
                <h1>{{title}}</h1>
                {{preview}}
                <p>Uploaded {{timestamp}}</p>
            </div>
        </div>
    </form>
    <footer><a href="/">Home</a> | <a href="/privacy/">Privacy Policy</a> | &#10084; by memetrollsXD</footer>
</body>

</html>