<html>

<head>
    <title>{{title}} - {{STATIC_DOMAIN_NAME}}</title>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="robots" content="noindex">
    <meta property="og:image" content="{{cdn}}" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:video" content="{{cdn}}" />
    <meta property="og:video:type" content="video/mp4" />
    <meta property="cmoe:ownerid" content="{{ownerid}}" />
    <meta property="cmoe:premium" content='{{isPremium}}' />

    <script src="fa/js/all.min.js" defer></script>
    <link rel="stylesheet" href="/index.css">
    <script type="module" defer>
        import { loadModule } from 'https://klesun.github.io/ts-browser/src/ts-browser.js';
        loadModule('./view.ts');
    </script>
</head>

<body>
    {{STATIC_ANNOUNCE_BANNER}}
    <h2 onclick="window.location.href = '/'" style="cursor: pointer;">{{STATIC_DOMAIN_NAME}}</h2>
    <p class="lead">{{STATIC_SLOGAN}}</p>

    <form id="file-upload-form" class="uploader-other">

        <div class="admin-buttons">
            <!-- <i class="fa-solid fa-shield-exclamation admin-button dmca-req"></i> -->
            <i class="fa-solid fa-tag admin-button premium-button id-req"></i>
            <i class="fa-solid fa-file-pen admin-button edit-req"></i>
            <i class="fa-solid fa-trash-xmark admin-button delete-req"></i>
        </div>
        <div class="container-main">
            <div id="start">
                {{isPremium}}<h1> {{title}}</h1>
                {{preview}}
                <p>{{views}} <i class="fa-solid fa-eye" aria-hidden="true"></i> &middot; Uploaded {{timestamp}}</p>
            </div>
        </div>
    </form>
    {{STATIC_FOOTER}}
</body>

</html>